# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build (React/Node general)
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
